@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* pokemon thumbnail */

.pokemon-normal {
  display: inline-block;
  width: 56px;
  height: 56px;
  background-image: url('/images/normal.webp');
  background-repeat: no-repeat;
  vertical-align: middle;
  background-size: 2240px 2240px;
}

/* pokemon type sprites */
.type {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('/images/types.webp');
  background-repeat: no-repeat;
  background-size: 20px 420px;
}

.type-一般 {
  background-position: 0 0;
}

.type-格斗 {
  background-position: 0 -20px;
}

.type-飞行 {
  background-position: 0 -40px;
}

.type-毒 {
  background-position: 0 -60px;
}

.type-地面 {
  background-position: 0 -80px;
}

.type-岩石 {
  background-position: 0 -100px;
}

.type-虫 {
  background-position: 0 -120px;
}

.type-幽灵 {
  background-position: 0 -140px;
}

.type-钢 {
  background-position: 0 -160px;
}

.type-火 {
  background-position: 0 -180px;
}

.type水 {
  background-position: 0 -200px;
}

.type-草 {
  background-position: 0 -220px;
}

.type-电 {
  background-position: 0 -240px;
}

.type-超能力 {
  background-position: 0 -260px;
}

.type-冰 {
  background-position: 0 -280px;
}

.type-龙 {
  background-position: 0 -300px;
}

.type-恶 {
  background-position: 0 -320px;
}

.type-妖精 {
  background-position: 0 -340px;
}

.type-物理 {
  background-position: 0 -360px;
}

.type-特殊 {
  background-position: 0 -380px;
}

.type-变化 {
  background-position: 0 -400px;
}

.type-未知 {
  background-position: 0 -660px;
}

/* .type-shadow {
  background-position: 0 -380px;
} */

.react-flow__attribution {
  display: none;
}
